.banner{
    height: 80vh;
}

.gambar-banner img{
    width: 170px;
    height: auto;
}

.banner-content{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.judul1{
    color: #77BF4A;
}

.banner h1{
    font-weight: bold;
}


#MainMenu {visibility: hidden;}
footer {visibility: hidden;}


.st-emotion-cache-giotri, .e1nzilvr2 {
    display: none;
}

.st-emotion-cache-b5hcvb.e1vs0wn31 {
    display: none;
}

.latarbelakang p{
    text-align: justify;
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    text-indent: 50px;
}

.bg{
    background-color: #f5f5f5;
}

.tujuan{
    text-align: justify;
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    text-indent: 50px;
}


.manfaat{
    text-align: justify;
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    text-indent: 50px;
}

.gambar{
    border-radius: 50px;
    width: 300px;
    height: auto;
    border: solid #17A2B8;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}


h2::before, h2::after {
    background-color: #17A2B8;
    content: '';
    display: inline-block;
    height: 1px;
    width: 20%; /* Ubah sesuai dengan kebutuhan */
    position: relative;
    vertical-align: middle;
}


h2::before{
    right: 0.5em;
    margin-left: -50%;
}

h2::after{
    left: 0.5em;
    margin-right: -50%;
}