#MainMenu {visibility: hidden;}
footer {visibility: hidden;}

.banner{
    height: 80vh;
}

.st-emotion-cache-giotri, .e1nzilvr2 {
    display: none;
}

.st-emotion-cache-b5hcvb.e1vs0wn31 {
    display: none;
}

.organik{
    text-align: justify;
}

.contoh{
    width: 250px;
}

.custom-hr {
    border: 2px solid #17A2B8; /* Menambahkan garis solid dengan ketebalan 3px dan warna biru */
    color: #17A2B8;
    margin:7px 331.5;
    width: 13%; /* Menentukan lebar garis */
    margin: 0 auto; /* Menempatkan garis di tengah */
    font-weight: bold;
}


.banner-content {
    display: flex; /* Mengaktifkan Flexbox */
    justify-content: center; /* Teks di tengah secara horizontal */
    align-items: center; /* Teks di tengah secara vertikal */
    height: 100%; /* Pastikan tinggi elemen mencakup container */
    min-height: 300px; /* Atur minimal tinggi agar terlihat jelas */
}

.sampah-organik {
    text-align: center; /* Teks rata tengah */
}

.sampah-organik h1{
    color: #77BF4A;
    font-size: 50px;
}

.p-organik{
    text-align: justify;
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.contoh-organik{
    background-color: #f5f5f5;
}