.banner{
    height: 80vh;
}

.banner-content{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.banner-content h1{
    color: #77BF4A;
    font-weight: bold;
}

.tulisan{
    font-size: 16px;
    text-align: justify;
    text-indent: 50px;
    font-family: Open Sans, Helvetica, Arial, sans-serif;
}



#MainMenu {visibility: hidden;}
footer {visibility: hidden;}


.st-emotion-cache-giotri, .e1nzilvr2 {
    display: none;
}

.st-emotion-cache-b5hcvb.e1vs0wn31 {
    display: none;
}

.bg{
    background-color: #f5f5f5;
}

.custom-hr {
    border: 2px solid #17A2B8; /* Menambahkan garis solid dengan ketebalan 3px dan warna biru */
    color: #17A2B8;
    margin:7px 331.5;
    width: 13%; /* Menentukan lebar garis */
    margin: 0 auto; /* Menempatkan garis di tengah */
    font-weight: bold;
}