.st-emotion-cache-giotri, .e1nzilvr2 {
    display: none;
}


#MainMenu {visibility: hidden;}
footer {visibility: hidden;}

.banner {
    height: 60vh;
}

.banner-content {
    display: flex; /* Mengaktifkan Flexbox */
    justify-content: center; /* Teks di tengah secara horizontal */
    align-items: center; /* Teks di tengah secara vertikal */
    height: 100%; /* Pastikan tinggi elemen mencakup container */
    min-height: 300px; /* Atur minimal tinggi agar terlihat jelas */
}

.sampah-organik {
    text-align: center; /* Teks rata tengah */
}

.sampah-organik h1{
    color: #17A2B8;
    font-size: 50px;
}

.p-organik{
    text-align: justify;
}

.pengetian-sampah{
    text-align: justify;
    font-size: 16px;
    font-family: Open Sans, Helvetica, Arial, sans-serif;
}

.dampak{
    text-align: justify;
}

.image-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrapper img{
    width: 300px;
    border-radius: 10px;
}

.gambar {
    display: flex; /* Menggunakan flexbox */
    justify-content: center; /* Memusatkan secara horizontal */
    align-items: center; /* Memusatkan secara vertikal */
    height: 250px; /* Menentukan tinggi container sesuai kebutuhan */
}

.gambar img {
    width: 250px; /* Menentukan lebar gambar */
    max-width: 100%; /* Agar gambar tetap responsif */
    height: auto; /* Menjaga rasio gambar */
}


h2::before, h2::after {
    background-color: #17A2B8;
    content: '';
    display: inline-block;
    height: 1px;
    width: 20%; /* Ubah sesuai dengan kebutuhan */
    position: relative;
    vertical-align: middle;
}


h2::before{
    right: 0.5em;
    margin-left: -50%;
}

h2::after{
    left: 0.5em;
    margin-right: -50%;
}

.sumber{
    background-color: #f5f5f5;
}

.jenis{
    background-color: #f5f5f5;
}

.wujud p{
    text-align: justify;
}


.custom-hr {
    border: 2px solid #17A2B8; /* Menambahkan garis solid dengan ketebalan 3px dan warna biru */
    color: #17A2B8;
    margin:7px 331.5;
    width: 13%; /* Menentukan lebar garis */
    margin: 0 auto; /* Menempatkan garis di tengah */
    font-weight: bold;
}